*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f1f1f1;
  padding:20px;
}

.topo{
  background:#000;
  color:#fff;
  padding:25px;
  border-radius:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:20px;
}

.topo p{
  color:#aaa;
  margin-top:5px;
}

.btn{
  background:#fff;
  color:#000;
  border:none;
  padding:15px 20px;
  border-radius:15px;
  font-weight:bold;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:15px;

  margin-bottom:20px;
}

.card{
  background:#fff;
  padding:25px;
  border-radius:20px;
}

.card h2{
  font-size:35px;
  margin-bottom:10px;
}

.card span{
  color:#777;
}

.formulario{
  background:#fff;
  padding:25px;
  border-radius:20px;

  margin-bottom:20px;
}

.formulario h2{
  margin-bottom:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;

  margin-bottom:15px;
}

input,
select,
textarea{
  width:100%;
  padding:15px;
  border:1px solid #ddd;
  border-radius:15px;
  outline:none;
}

textarea{
  height:120px;
  resize:none;
  margin-bottom:15px;
}

.checks{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:10px;

  margin-bottom:20px;
}

.checks label{
  background:#f5f5f5;
  padding:12px;
  border-radius:12px;
}

.salvar{
  background:#000;
  color:#fff;
}

.lista{
  background:#fff;
  padding:25px;
  border-radius:20px;
}

.titulo-lista{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:20px;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#000;
  color:#fff;
  padding:15px;
}

td{
  padding:15px;
  border-bottom:1px solid #eee;
}

.status{
  background:#000;
  color:#fff;
  padding:8px 15px;
  border-radius:20px;
  font-size:14px;
}
