*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#111;
  padding:20px;
  color:#fff;
}

.topo{
  background:linear-gradient(135deg,#d4af37,#ffd700);
  color:#000;
  padding:25px;
  border-radius:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:20px;

  box-shadow:0 0 20px rgba(255,215,0,0.4);
}

.topo p{
  color:#222;
  margin-top:5px;
}

.btn{
  background:#000;
  color:#ffd700;
  border:none;
  padding:15px 20px;
  border-radius:15px;
  font-weight:bold;
  cursor:pointer;

  transition:0.3s;
}

.btn:hover{
  transform:scale(1.05);
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:15px;
  margin-bottom:20px;
}

.card{
  background:#1b1b1b;
  padding:25px;
  border-radius:20px;
  border:1px solid #d4af37;

  box-shadow:0 0 15px rgba(255,215,0,0.2);
}

.card h2{
  font-size:35px;
  color:#ffd700;
}

.card span{
  color:#ccc;
}

.formulario{
  background:#1b1b1b;
  padding:25px;
  border-radius:20px;
  margin-bottom:20px;

  border:1px solid #d4af37;
}

.formulario h2{
  margin-bottom:20px;
  color:#ffd700;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  margin-bottom:15px;
}

input,
select,
textarea{
  width:100%;
  padding:15px;
  border:1px solid #555;
  border-radius:15px;
  outline:none;

  background:#111;
  color:#fff;
}

textarea{
  height:120px;
  resize:none;
}

.salvar{
  background:#ffd700;
  color:#000;
  font-weight:bold;
}

.lista{
  background:#1b1b1b;
  padding:25px;
  border-radius:20px;

  border:1px solid #d4af37;
}

.titulo{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.titulo h2{
  color:#ffd700;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#d4af37;
  color:#000;
  padding:15px;
}

td{
  padding:15px;
  border-bottom:1px solid #333;
}

.status{
  background:#ffd700;
  color:#000;
  padding:8px 15px;
  border-radius:20px;
  font-size:12px;
  font-weight:bold;
}

.acoes{
  display:flex;
  gap:10px;
}

.editar{
  background:#d4af37;
  color:#000;
  border:none;
  padding:8px 12px;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
}

.excluir{
  background:red;
  color:#fff;
  border:none;
  padding:8px 12px;
  border-radius:10px;
  cursor:pointer;
}

@media(max-width:700px){

  .topo{
    flex-direction:column;
    gap:15px;
    text-align:center;
  }

  .titulo{
    flex-direction:column;
    gap:15px;
  }

  table{
    font-size:12px;
  }

}